/* * * * * * * * * * * * * * * * * * * * *
General
* * * * * * * * * * * * * * * * * * * * */

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

h1 {
    font-family: 'Merriweather', serif;
}


/* * * * * * * * * * * * * * * * * * * * *
Header
* * * * * * * * * * * * * * * * * * * * */
header {
    height: 66px;
    /* background: rgba(255,255,255,0.5); */
    position: fixed;
    border-radius: 50px;

    background: rgba(124, 34, 151, 0.65);
    color: #8FFF54;
    /* opacity: 0.5; */

    z-index: 1000;
}

header span{
    opacity: 1;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.4em;
}

.logo {
    width: 200px;
    margin-right: auto;
}

.logo span {
    margin-left: 10px;
    font-style: italic;
}

.fa-heart {
    font-size: 40px;
}

header ul {
    margin-bottom: 0;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    font-family: 'Merriweather', serif;
    color: #8FFF54;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    height: 66px;
    padding: 0 10px;

    display: flex;
    align-items: center;
    transition: 0.5s;
}

header ul li a:hover {
    color: white;
    font-size: 0.9em;
    background: rgba(178, 23, 178, 0.65);
    text-decoration: none;
    border-bottom: 10px solid rgba(255, 97, 255, 0.65);
    border-top: 10px solid rgba(255, 97, 255, 0.65);
}

.burger {
    color: #8FFF54;
    height: 66px;
    padding: 0 20px;
    transition: 0.5s;
}

.burger:hover {
    color: white;
    background: rgba(178, 23, 178, 0.65);
    text-decoration: none;
    border-bottom: 10px solid rgba(255, 97, 255, 0.65);
    border-top: 10px solid rgba(255, 97, 255, 0.65);
}

.opened {
    background: rgba(178, 23, 178, 0.65);
}

.burger-closed {
    display: none;
}

.burger-opened {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 66px;
    left: 66px;
}

.burger-opened li {
    margin: auto;
    background: rgba(178, 23, 178, 0.9);
    width: 130px;
    border-top: 2px #8FFF54 solid;
}

.burger-opened li:hover {
    background: rgb(179, 59, 179);
}

.burger-opened a {
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

/* Media Query */
.visible-for-mobile {
    display: flex;
    align-items: center;
    height: 66px;
}

.invisible-for-mobile {
    display: none;
}

header {
    width: 260px;
}

@media (min-width: 576px) { 

    header {
        width: auto;
        padding-right: 30px;
    }

    .visible-for-mobile {
        display: none;
    }
    
    .invisible-for-mobile {
        display: flex;
    }

    #burger-list {
        display: none;
    }
}


/* * * * * * * * * * * * * * * * * * * * *
Hero
* * * * * * * * * * * * * * * * * * * * */
.hero {
    background: 
        linear-gradient(
        180deg, 
        rgba(0,0,0,0.25) 75%,
        rgba(178, 23, 178, 0.25)),
        url('../img/hero.jpg')
    ;
    background-size: cover;
    background-position: center;

    height: 700px;
}

.hero-about {
    background: 
    linear-gradient(
    180deg, 
    rgba(0,0,0,0.25) 75%,
    rgba(178, 23, 178, 0.25)),
    url('../img/hero-about.jpg');

    background-size: cover;
    background-position: 60% 50%;
}

.hero-product {
    background: 
    linear-gradient(
    180deg, 
    rgba(0,0,0,0.25) 75%,
    rgba(178, 23, 178, 0.25)),
    url('../img/hero-product.jpg');

    background-size: cover;
    background-position: center;
}

.hero-contact {
    background: 
    linear-gradient(
    180deg, 
    rgba(0,0,0,0.25) 75%,
    rgba(178, 23, 178, 0.25)),
    url('../img/hero-contact.jpg');

    background-size: cover;
    background-position: 80% 50%;
}

.hero-content {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(25, 25, 25, 0.5);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    color: #8FFF54;
    font-size: 1.6em;
}

.hero-content p {
    color: #ccc;
    font-size: 1.2em;
}

.hero-content a {
    margin-top: 10px;
    font-size: 1.2em;
    color: rgb(143,255,84);
    padding: 10px;

    border: 2px rgb(143,255,84) solid;
    border-radius: 25px;
}

.hero-content a:hover{
    /* color:rgb(255, 255, 255); */
    color: white;
    text-decoration: none;
    background: rgb(179, 59, 179, 0.5);
    
    border: 2px white dashed;
    transition: 0.2s;
}

@media (max-width: 576px) { 
    .hero {
        height: 600px;
    }
    .hero-content{
        width: 100%;
    }
}


/* * * * * * * * * * * * * * * * * * * * *
Main
* * * * * * * * * * * * * * * * * * * * */
main {
    min-height: 400px;
    padding: 80px 0;

    /* background: #D754FF; */
    /* background: #F0DC2B; */
    background: #ccc;
    /* color: #ddd; */
    color: #444;
    font-family: 'Merriweather', serif;
}

main h2 {
    font-size: 1.8em;
    color: rgb(179, 59, 179);
    margin-bottom: 25px;
    padding-left: 8px;
    border-left: 8px solid;
}

main .wrapper {
    max-width: 800px;
}

.imgs-container {
    margin: 50px auto 0 auto;
    width: 100%;
    max-width: 600px;

    position: relative;
}

.imgs-about {
    max-width: 500px;
    transition: none;
    margin-bottom: 60px;
    margin-top: 30px;
}

img {
    width: 100%;
    max-width: 600px; 
}

.imgs-home:hover img:first-child {
    transform: translate(-120%, -60%) rotate(-850deg);
    transition-delay: 0.35s;
    transition-duration: 1s;
}

.imgs-home img:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(300%, -150%) rotate(720deg);
    /* transition-duration: 1s; */
}

.imgs-home:hover img:nth-child(2) {
    transition-duration: 1s;
    transform: translate(0, 0) rotate(-720deg);
}

.imgs-home h1 {
    font-family: 'Permanent Marker', cursive;
    color: rgb(179, 59, 179);
}

.imgs-home .span2 {
    opacity: 0;
}

.imgs-home:hover .span1 {
    /* transition-delay: 0.5s; */
    transition-duration: 0.5s;
    text-decoration-line: line-through;
    text-decoration-color: red;
    /* text-decoration: line-through red; */
}

.imgs-home:hover .span2 {
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    opacity: 1;
}

/* For About Us page only */
.bio-img, .bio-description {
    display: inline-block;
}

.bio-card {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.bio-img {
    max-width: 180px;
    min-width: 120px;
    margin-right: 20px;
    flex: 2 0.5;
}

.bio-img img {
    border-radius: 200px;
}

.bio-card h3, h4 {
    margin: 10px 0;
    color: rgb(179, 59, 179);
}

.bio-card h3 {
    font-size: 1.5em;
}

.bio-card h4 {
    font-size: 1.2em;
}

.bio-card p {
    max-width: 500px;
}

@media (max-width: 576px) { 
    .bio-card {
        flex-direction: column;
    }
}

/* * * * * * * * * * * * * * * * * * * * *
Footer
* * * * * * * * * * * * * * * * * * * * */
footer {
    height: auto;
    background: #7c2297;
    padding: 40px 0 80px;
    font-family: 'Merriweather', serif;
}

footer h2{
    color: #45911D;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

footer ul{
    margin: 0 0 30px 0;
    padding: 0;
}

footer li {
    list-style: none;
    margin-top: 8px;
}

footer a {
    color: #888;
    /* padding: 5px 5px 5px 0; */
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 300;
    /* border-bottom: 2px transparent;
    border-top: 2px transparent; */
}

footer a:hover{
    color: white;
    text-decoration: none;
    transition: 0.1s;
    border-bottom: #8FFF54 solid;
    border-top: #8FFF54 solid;
}

footer a:hover footer li {
    display: none;
}

.social-icons i {
    margin-right: 10px;
}

.footer-col > * {
    margin-left: 20%;
}

.footer-col h2 {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 0;
    border-left: 5px #45911D solid;
    padding-left: 5px;
}